.footer {
  padding: 20px;
  margin-bottom: 60px;

  ul {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  li {
    margin-bottom: 10px;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid white;
  }

  li:last-child {
    margin-right: 0px;
    border-right: unset;
    padding-right: 0;
  }

  a {
    color: white;
    font-size: 1.2rem;
  }

  p {
    color: white;
    font-size: 1.2rem;
  }

  @include medium {
    margin-bottom: 0px;
  }

  p {
    text-align: center;
  }
}
