.loader {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/hp/splash_bg.png);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &__inner {
    width: 80vw;
    margin: 175px auto;
  }

  &__logo {
    width: 34%;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
  }

  &__msg {
    display: block;
    width: 88%;
    margin: 0 auto 35px;
  }

  &__spinner {
    display: block;
    width: 25%;
    margin: 0 auto;
  }

  @include medium {
    &__inner {
      margin: 305px auto;
    }

    &__logo {
      width: 15%;
    }

    &__msg {
      width: 37%;
    }

    &__spinner {
      width: 10%;
    }
  }
}
