/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.bg-img {
  background-image: url(../assets/images/hp/splash_bg.png);
  background-size: contain;
}

.bg-color {
  background-color: #1c2d67;
}

.hp {
  display: none;
}

.head {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head h1 {
  width: 57px;
}

.head .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head .menu li {
  width: 30px;
  margin-right: 20px;
}

.head .menu li:last-child {
  margin-right: 0;
}

.head .menu a {
  display: block;
}

.top h2 {
  padding: 20px 30px;
}

@media only screen and (min-width: 700px) {
  .top h2 {
    width: 600px;
    margin: 0 auto;
    padding: 20px 0px;
  }
}

.forecast {
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 60px;
}

.forecast__map {
  height: 380px;
  margin-bottom: 10px;
  position: relative;
}

.forecast__info {
  position: absolute;
  top: 0;
}

.forecast__close {
  position: absolute;
  top: 0;
}

@media only screen and (min-width: 700px) {
  .forecast {
    width: 1000px;
    padding-bottom: 100px;
  }
  .forecast .sp {
    display: none;
  }
  .forecast .hp {
    display: block;
  }
  .forecast__map {
    height: 700px;
    margin-bottom: 50px;
  }
  .forecast__close {
    width: 103%;
  }
}

.about {
  position: relative;
  padding: 40px 0px;
}

.about__ttl {
  width: 300px;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about__content {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (min-width: 700px) {
  .about {
    padding: 100px 0px;
  }
  .about .sp {
    display: none;
  }
  .about .hp {
    display: block;
  }
  .about__ttl {
    width: 600px;
    margin: 0 auto;
    top: -60px;
  }
}

.point {
  padding: 20px 0 60px;
}

.point__ttl {
  width: 300px;
  margin: 0 auto 5px;
}

.point__inner {
  width: 85%;
  margin: 0 auto;
}

.point__content {
  margin-bottom: 5px;
}

.point__content:last-child {
  margin-bottom: 0px;
}

@media only screen and (min-width: 700px) {
  .point {
    padding: 80px 0 100px;
  }
  .point .sp {
    display: none;
  }
  .point .hp {
    display: block;
  }
  .point__ttl {
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
  }
  .point__inner {
    width: 1000px;
    margin: 0 auto;
  }
  .point__content {
    margin-bottom: 50px;
  }
}

.secret {
  position: relative;
  padding: 30px 0 50px;
}

.secret__ttl {
  width: 300px;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.secret__inner {
  width: 85%;
  margin: 0 auto;
}

.secret__content {
  position: relative;
  margin-bottom: 20px;
}

.secret__check {
  width: 70%;
  display: block;
  position: absolute;
  top: 130px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media only screen and (min-width: 700px) {
  .secret {
    padding: 100px 0 100px;
  }
  .secret .sp {
    display: none;
  }
  .secret .hp {
    display: block;
  }
  .secret__ttl {
    width: 600px;
    top: -60px;
  }
  .secret__inner {
    width: 1000px;
    margin: 0 auto;
  }
  .secret__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .secret__content {
    width: 320px;
  }
}

.product {
  position: relative;
  padding-top: 30px;
  padding-bottom: 50px;
}

.product__ttl {
  width: 300px;
  position: absolute;
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.product__sub-ttl {
  margin-bottom: 10px;
}

.product__inner {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (min-width: 700px) {
  .product {
    padding-top: 100px;
  }
  .product .sp {
    display: none;
  }
  .product .hp {
    display: block;
  }
  .product__ttl {
    width: 600px;
    top: -60px;
  }
  .product__inner {
    width: 1000px;
    margin: 0 auto;
  }
}

.line-up__item {
  background-color: white;
  border-radius: 18px;
  text-align: center;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.line-up__item:last-child {
  margin-bottom: 0;
}

.line-up__ttl__wrapper {
  background-color: #1c2d67;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.line-up__ttl__wrapper img {
  width: 20px;
  margin-right: 10px;
}

.line-up__ttl {
  color: white;
  font-size: 1.6rem;
}

.line-up__sub-ttl {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(50%, #ffea00));
  background: linear-gradient(#fff 50%, #ffea00 50%);
  display: inline;
  font-size: 1.4rem;
}

.line-up-img {
  height: 260px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.line-up-img img {
  width: auto;
}

.line-up__name {
  margin-bottom: 20px;
}

.line-up__btn {
  width: 50%;
  margin: 0 auto;
}

.line-up__btn:nth-child(odd) {
  width: 50%;
  margin: 0 auto 5px;
}

@media only screen and (min-width: 510px) {
  .line-up-area {
    margin-top: 40px;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .line-up__btn {
    width: 80%;
  }
  .line-up__btn:nth-child(odd) {
    width: 80%;
  }
}

@media only screen and (min-width: 700px) {
  .line-up__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .line-up__btn {
    width: 90px;
  }
  .line-up__btn:nth-child(odd) {
    width: 90px;
  }
}

.campaign {
  padding-bottom: 90px;
}

.campaign__inner {
  width: 85%;
  margin: 0 auto;
}

@media only screen and (min-width: 700px) {
  .campaign .sp {
    display: none;
  }
  .campaign .hp {
    display: block;
  }
  .campaign__inner {
    width: 1000px;
    margin: 0 auto;
  }
}

.sns {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

.sns__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sns__inner p {
  color: #1b2d67;
  margin-right: 20px;
  font-size: 1.2rem;
}

.sns__icon img {
  width: 30px;
  height: 30px;
}

@media only screen and (min-width: 700px) {
  .sns {
    padding: 30px;
  }
  .sns p {
    font-size: 1.9rem;
  }
  .sns__icon img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
  }
  .sns__icon img:last-child {
    margin-right: 0px;
  }
}

.footer {
  padding: 20px;
  margin-bottom: 60px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.footer li {
  margin-bottom: 10px;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid white;
}

.footer li:last-child {
  margin-right: 0px;
  border-right: unset;
  padding-right: 0;
}

.footer a {
  color: white;
  font-size: 1.2rem;
}

.footer p {
  color: white;
  font-size: 1.2rem;
}

@media only screen and (min-width: 700px) {
  .footer {
    margin-bottom: 0px;
  }
}

.footer p {
  text-align: center;
}

.top-jump {
  position: fixed;
  bottom: 95px;
  right: 10px;
  width: 63px;
  z-index: 30;
}

@media only screen and (min-width: 700px) {
  .top-jump {
    bottom: 100px;
    right: 0;
  }
}

.line-up-jump {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 30;
}

@media only screen and (min-width: 700px) {
  .line-up-jump {
    width: 80px;
    position: fixed;
    top: 100px;
    right: 0;
    z-index: 5;
  }
  .line-up-jump .sp {
    display: none;
  }
  .line-up-jump .hp {
    display: block;
  }
}

.remodal {
  border-radius: 6px;
}

.remodal h1 {
  background-color: #20559a;
  padding: 10px;
  color: white;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.remodal__box {
  max-width: 700px;
  margin: 0 auto;
}

.remodal a {
  display: block;
  border-radius: 6px;
  width: 280px;
  margin: 0 auto;
}

.loader {
  width: 100vw;
  height: 100vh;
  background-image: url(../assets/images/hp/splash_bg.png);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.loader__inner {
  width: 80vw;
  margin: 175px auto;
}

.loader__logo {
  width: 34%;
  margin: 0 auto;
  margin-bottom: 15px;
  display: block;
}

.loader__msg {
  display: block;
  width: 88%;
  margin: 0 auto 35px;
}

.loader__spinner {
  display: block;
  width: 25%;
  margin: 0 auto;
}

@media only screen and (min-width: 700px) {
  .loader__inner {
    margin: 305px auto;
  }
  .loader__logo {
    width: 15%;
  }
  .loader__msg {
    width: 37%;
  }
  .loader__spinner {
    width: 10%;
  }
}
/*# sourceMappingURL=style.css.map */